/* The header styles  starts  */

header {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, .9);
    top: 0px;
    padding: 0px 15px !important;
}

header button.navbar-toggler {
    outline: none;
    display: block;
}

.toggler-stroke {
    width: 20px;
    height: 3px;
    margin-bottom: 2px;
    background: black;
}

.navbar-collapse {
    width: 100%;
    justify-content: flex-end;
}

nav.navbar {
    background-color: rgba(255, 255, 255, .9);
    height: 60px;
    width: 100%;
}

.navbar-nav .nav-item {
    position: relative;
    padding-bottom: 18px;
}

.navbar-nav .nav-item a {
    color: black;
    font-family: arial;
    font-size: 17px;
    padding-bottom: 15px;
    text-align: center;
}

.navbar-nav li.nav-item::after {
    content: "";
    width: 5%;
    border-bottom: 1px solid;
    margin: 0px auto;
    position: relative;
    top: -10px;
}

@media(min-width:767px) {
    .navbar-nav li.nav-item::after {
        width: 40%;
    }
    .navbar-nav .nav-item {
        padding: 30px 27px;
    }
}

.navbar-nav .nav-item a:hover,
.navbar-nav .nav-item a:active {
    color: #000066;
}

.navbar-nav li.nav-item:hover::after {
    border-bottom: 0.8px solid #000066;
    display: block;
}


/* the header styles ends here */


/* Styling the main content starts here */

main {
    width: 100%;
}

main#landing-image {
    width: 100%;
}

#landing-image img {
    width: 100%;
    height: auto;
}

#landing-image h1.page-image-text {
    color: white;
    position: relative;
    top: -180px;
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 280%;
}

#landing-image h1.page-image-text::after {
    content: '';
    display: block;
    border-bottom: 2px solid;
    position: relative;
    top: 15px;
    background-color: white;
    text-align: center;
    width: 60%;
    margin: auto;
}

@media(min-width:767px) {
    #landing-image h1.page-image-text {
        top: -415px;
        font-size: 315%;
    }
    #landing-image h1.page-image-text::after {
        position: relative;
        top: 15px;
    }
}


/* Styling the main content ends here */


/* Footer styles start here */

footer {
    background-color: #000066;
    color: white;
    padding: 13px 32px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

footer #footer-top a {
    color: orangered;
    text-decoration: underline;
}

footer .social-links {
    color: white;
    margin: 8px;
}


/* Footer styles ends here */

a#scrollTop::after {
    content: '';
    display: block;
    background-image: url('../images/up1.png') no-repeat;
}


/* Styling the contact form starts here */

section#contact-form {
    letter-spacing: 0.1rem;
    padding: 1.5rem;
}

section#contact-form p {
    margin: auto;
    letter-spacing: 0.01rem;
    font-size: 90%;
    margin-bottom: 2rem;
}

section#contact-form * {
    margin-bottom: 0.7rem;
}

.underline {
    text-decoration: underline;
    margin-right: 10px;
}

form#contact-form {
    margin: auto;
    margin-bottom: 2.3rem;
}

@media(min-width:767px) {
    form#contact-form {
        width: 80%;
    }
    section#contact-form p {
        width: 80%;
    }
}

form#contact-form div {
    margin-top: 1.5rem;
}

form#contact-form label {
    display: block;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 90%;
}

form#contact-form .form-input {
    display: block;
    width: 100%;
    height: 35px;
    background-color: #CCCCCC;
    color: #333333;
    outline: none;
    border: none;
    padding: 15px;
    box-sizing: border-box;
}

form#contact-form textarea.form-input {
    height: 130px;
}

form#contact-form #form-buttons {
    text-align: center;
    margin-top: 2rem;
}

form#contact-form #form-buttons button {
    text-transform: uppercase;
    background-color: #999999;
    color: #000066;
    padding: 7px 28px;
    font-size: 60%;
    outline: none;
    border: none;
}

form#contact-form #form-buttons button:hover {
    background-color: white;
}


/* Styling the contact form ends here */