/* Stying the dashboard CMS starts here */

:root {
    --ck-z-default: 100 !important;
    --ck-z-modal: calc( var(--ck-z-default) + 999) !important;
}

.navbar-nav li.nav-item a:active,
.navbar-nav li.nav-item a:hover {
    border-bottom: 2px solid #000666;
}

.container {}


/* Styling the dashboard CMS ends here */