<template>
    <div>
        <textarea style=""  name="contents" v-model="value"></textarea>
    </div>
</template>

<script>


// import BalloonEditor from '@ckeditor/ckeditor5-build-balloon';

export default {
    props : {
        contents : {
            type : String,
            required : false,
            default : ''
        }
    },

    mounted() {

        tinyMCE.init({
            menubar: 'file edit view insert format tools table tc help',
            mode : "textareas",
            theme : "silver" ,  //(n.b. no trailing comma, this will be critical as you experiment later)
            plugins : "link"
        });

        // Prevent Bootstrap dialog from blocking focusin
        $(document).on('focusin', function(e) {
        if ($(e.target).closest(".tox-tinymce-aux, .moxman-window, .tam-assetmanager-root").length) {
            e.stopImmediatePropagation();
        }
        });
    },
    
    data() {
        return {
            value : this.contents ? this.contents : ''
           
        };
    }
}
</script>



