<template>
    <div>
       <input type="hidden" name="site_metas" :value="JSON.stringify(siteMetas)">
        <table class="table table-responsive">
            <thead>
                <th>Name</th>
                <th>Content</th>
                <th>Remove</th>
            </thead>
            <tbody>
                <tr class="meta-groups" v-for="(meta, index) in siteMetas" :key="index">
                    <td><input type="text"  class=" form-control" :value="meta.name" ></td>
                    <td> <input type="text"  class=" form-control" :value="meta.contents" ></td>
                     <td> <button class="btn btn-danger " @click.prevent="Remove" :data-index="index"> Remove</button></td>
                </tr>
                <tr>
                    <td><input type="text"  class=" form-control" v-model="newName" ></td>
                    <td><input type="text"  class=" form-control" v-model="newContent" ></td>
                    <td><button class="btn btn-primary " @click.prevent="Add">Add Meta</button></td>
                </tr>
            </tbody>

            <tfoot>
                
            </tfoot>
        </table>

       
    </div>
</template>

<script>
export default {
    props : ['metas'],

    data() {
        return {
            siteMetas : this.metas,
            newName : '',
            newContent : ''
        };
    },

    methods : {

        Add() {

            var entry = {
                name : this.newName,
                contents : this.newContent
            };

            this.siteMetas.push(entry)

            this.newContent = ''
            this.newName = ''
        },

        Remove(e) {
            var index = e.target.getAttribute('data-index')
            this.siteMetas.splice(index, 1)
        }
    }
}
</script>